body {
    font-family: sans-serif;
    width: 100%;
    text-transform:uppercase ;  
    background-size:cover;
    padding: top 200px;;
    background:url(889326.jpg);
    background-position:center center;  
    background-repeat: no repeat;
    background-attachment: fixed;
  }

  .login-form {
    width: 28%;
    margin: 0 auto;
    background: url(889326.jpg)no-repeat 0px 0px;
    background-size:cover ;
    background-position: center;
    padding: 30px 33px 67px;
    border-top: 8px solid rgba(0, 37, 204, 0.4);
    box-shadow: 0px 32px  44px -21px rgba(0, 0, 0,0.72 );
  }
   
  h1 {    
    
    color:rgb(243, 250, 249);

  }

  form {

    margin: 0 auto;

  }

  form p {
    font-size: 16px;
    margin: top 42px; ;
    padding: 0.3px;
    color: #670000;

  }   

   input[type="submit"]{
   background: #0ffd1b;
  }



    